body{
    color: white;
    margin:0px;
    padding: 0px;
    background: url('abs-1850926_1280.jpg')
}
.left{
    display:inline-block;
    position:absolute;
    top: 18px;
    left:54px;
}
.mid{
    display:block;
    width:50%;
    margin: 18px auto;
    
}
.container
{
    /*border:2px solid red;*/
    margin: 50px 76px;
    padding: 65px;
    width:33%;
    border-radius: 28px;
}
.right{
    position:absolute;
    top: 18px;
    right:34px;
    margin:18px auto;
    display:inline-block;
    
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    color: white;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding:12px;
}
.navbar li a:hover,.navbar li a.active {
    color: greenyellow;
    text-decoration: underline;
    
   
  
}
.left img
{
    width:50px;
}
.btn{
    margin:0px 9px;
    background-color: black;
    color: white;
    border: 2px solid gray;
    padding: 4px 14px;
    font:20px;
    cursor:pointer;
}
.btn:hover{
    background-color: greenyellow;
}
.form-group input
{
    text-align: center;
    display: block;
font-size: medium;
margin: 10px auto;
padding: 6px;
width:100%;
border-radius: 5px;
border: 2px solid black;
}
.container h1{
    text-align: center;
}
.container button{
    display:block;
    margin:10px auto;
    width:103%
}